<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <servlet>
    <description></description>
    <display-name>Accounts</display-name>
    <servlet-name>Accounts</servlet-name>
    <servlet-class>com.useritems.use.Accounts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Accounts</servlet-name>
    <url-pattern>/Accounts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditUser</display-name>
    <servlet-name>EditUser</servlet-name>
    <servlet-class>EditUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUser</servlet-name>
    <url-pattern>/EditUser</url-pattern>
  </servlet-mapping>
  <display-name>Mercahndise_Store</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HandleProducts</display-name>
    <servlet-name>HandleProducts</servlet-name>
    <servlet-class>com.useritems.use.HandleProducts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HandleProducts</servlet-name>
    <url-pattern>/HandleProducts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HandleCart</display-name>
    <servlet-name>HandleCart</servlet-name>
    <servlet-class>HandleCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HandleCart</servlet-name>
    <url-pattern>/HandleCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCart</display-name>
    <servlet-name>UpdateCart</servlet-name>
    <servlet-class>UpdateCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCart</servlet-name>
    <url-pattern>/UpdateCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Card</display-name>
    <servlet-name>Card</servlet-name>
    <servlet-class>Card</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Card</servlet-name>
    <url-pattern>/Card</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCard</display-name>
    <servlet-name>UpdateCard</servlet-name>
    <servlet-class>UpdateCard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCard</servlet-name>
    <url-pattern>/UpdateCard</url-pattern>
  </servlet-mapping>
</web-app>
